*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Patrick Hand", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* RESET */


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1F1F;
  height: 100vh;
  width: 100vw;

  padding: 2rem;
  gap: 1rem;
}

.menu,
.display {
  width: clamp(500px, 80%, 800px);

  padding: 1rem;
}

.menu {
  min-width: min-content;
}

.display {
  flex: 8;
}

/* MENU */

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #D3D3D3;
  border-bottom: 3px solid #D3D3D3;
}

.menu .button,
.menu .current-player {
  border: 2px solid #D3D3D3;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 20px;
}

.menu .play-restart {
  cursor: pointer;
}

.menu .button {
  text-align: center;
}

.current-player {
  display: none;
}

/* DISPLAY */

.display {
  display: flex;
}

.display .cell-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.display .cell {
  list-style: none;
  border: 2px solid #D3D3D3;
  border-radius: 30px;
  background-color: #1D1D1D;
  color: white;
  font-size: 9rem;
  cursor: pointer;
  
  transition: .1s;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.display .cell:hover {
  background-color: #a5a5a58d;
}

.cell.winner {
  background-color: #ECECEC;
  color: #000000;
}

.cell.dimmed {
  color: rgb(72, 72, 72);
  background-color: #181717;
}